body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(119,241,172,1) 10%, rgba(106,213,156,1) 86%, rgba(0,212,255,1) 100%);
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 700px;


    .dodawanie{
        display: flex;
        padding: 3%;
        margin: 3%;
        justify-content: center;
        align-items: center;
    }

    .wyswietlanie{
        display: flex;
        padding: 3%;
        margin: 3%;
        justify-content: center;
        align-items: center;
    }

}

.dodawanie_form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    

*{
    padding: 5%;
    margin: 4%;
}

    .dodawanie_form--submit{
        & {
            color: #fff !important;
            text-transform: uppercase;
            background: #ed3330;
            padding: 20px;
            border-radius: 5px;
            display: inline-block;
            border: none;
            }
            
            &:hover {
            background: #434343;
            letter-spacing: 1px;
            -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
            -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
            box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
            transition: all 0.4s ease 0s;
            }
    }
    
}

.wyswietlanie_li{
    padding: 4%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;


    *{
        margin: 4%;
    }

    
    

}
.wyswietlanie_li--wartosc{
    color: brown;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.wyswietlanie_li--data{
    color: darkorange;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.wyswietlanie_li-button {
    background: #656565;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#656565), to(#444));
    background: -moz-linear-gradient(#656565, #444);
    background: linear-gradient(#656565, #444);
    border: solid 1px #535353;
    border-bottom: solid 3px #414141;
    box-shadow: inset 0 0 0 1px #939393;
    color: #fff;
    text-shadow: 0 1px 0 #2f2f2f; }
    
    .wyswietlanie_li-button:hover {
    background: #4c4c4c;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4c4c4c), to(#565656));
    background: -moz-linear-gradient(#4c4c4c, #565656);
    background: linear-gradient(#4c4c4c, #565656);
    border: solid 1px #464646;
    border-bottom: solid 3px #414141;
    box-shadow: inset 0 0 0 1px #818181; }
    
    .wyswietlanie_li-button:active {
    background: #474747;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#474747), to(#444));
    background: -moz-linear-gradient(#474747, #444);
    background: linear-gradient(#474747, #444);
    border: solid 1px #2f2f2f;
    box-shadow: inset 0 10px 15px 0 #3e3e3e; }
    
